@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Ubuntu:wght@300&display=swap");
:root {
  --lila: rgb(190, 153, 212);
  --blancoespecial: rgba(253, 247, 247, 0.9);
  --rosita: #eee0e3; }

lila #be99d4 {
  color: lila #be99d4; }

blancoespecial rgba(253, 247, 247, 0.9) {
  color: blancoespecial rgba(253, 247, 247, 0.9); }

text__color #eee0e3 {
  color: text__color #eee0e3; }

grisespecial rgba(65, 65, 65, 0.25) {
  color: grisespecial rgba(65, 65, 65, 0.25); }

transparente rgba(0, 0, 0, 0) {
  color: transparente rgba(0, 0, 0, 0); }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 98%; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.bodys, .body--contact, .body--index, .body--shop, .body--about, .body--more {
  background: linear-gradient(-45deg, #ee7750, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-attachment: fixed;
  background-position: right 1%;
  min-width: 100%;
  font-family: "Ubuntu";
  padding: 0%;
  margin: 0%; }

@media (min-width: 1024px) {
  .navbar {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: rgba(253, 247, 247, 0.9);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
    .navbar a {
      list-style: none;
      text-decoration: none;
      font-family: "Ubuntu", sans-serif;
      color: #be99d4;
      font-size: 1.7rem; }
      .navbar a img {
        position: relative;
        left: 38%; }
  .navbar__li--logo {
    width: 25%; }
  .navbar__burger,
  .navbar__cart {
    display: none; }
  .footer {
    display: grid;
    grid-template-areas: "redes     redes     redes" "redesdata teldata   maildata" "copyright copyright copyright";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25%;
    justify-items: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: rgba(253, 247, 247, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .footer__element--title,
  .footer__element--titleespecial {
    font-size: 1.7rem;
    font-family: "Ubuntu", sans-serif; }
  .footer__element--titleespecial {
    align-items: start; }
  a.footer__element--text {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none; }
  .medialinks a {
    display: flex; }
  .iconsmedia svg {
    display: inline-flex;
    width: 120px;
    height: 120px; }
  .redes {
    grid-area: redes; }
  .redesdata {
    grid-area: redesdata; }
  .mail {
    grid-area: mail; }
  .maildata {
    grid-area: maildata; }
  .tel {
    grid-area: tel; }
  .teldata {
    grid-area: teldata; }
  .copyright {
    grid-area: copyright; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: rgba(253, 247, 247, 0.9);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
    .navbar a {
      list-style: none;
      text-decoration: none;
      font-family: "Ubuntu";
      color: #be99d4;
      font-size: 1.55rem; }
      .navbar a img {
        position: relative;
        left: 38%; }
  .navbar__li--logo {
    width: 30%; }
  .navbar__burger,
  .navbar__cart {
    display: none; }
  .footer {
    display: grid;
    grid-template-areas: "redes     redes     redes" "redesdata teldata   maildata" "copyright copyright copyright";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25%;
    justify-items: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: rgba(253, 247, 247, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .footer__element--title,
  .footer__element--titleespecial {
    font-size: 1.55rem;
    font-family: "Ubuntu"; }
  .footer__element--titleespecial {
    align-items: start; }
  a.footer__element--text {
    font-size: 1.55rem;
    font-family: "Ubuntu";
    text-decoration: none; }
  .medialinks a {
    display: flex; }
  .iconsmedia svg {
    display: inline-flex;
    width: 120px;
    height: 120px; }
  .redes {
    grid-area: redes; }
  .redesdata {
    grid-area: redesdata; }
  .mail {
    grid-area: mail; }
  .maildata {
    grid-area: maildata; }
  .tel {
    grid-area: tel; }
  .teldata {
    grid-area: teldata; }
  .copyright {
    grid-area: copyright; } }

@media (max-width: 767px) {
  .navbar {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
    align-items: center;
    background-color: rgba(253, 247, 247, 0.9);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .navbar__li--logo {
    width: 80%;
    position: relative;
    left: 9%; }
  .navbar__phone--burger,
  .navbar__phone--cart {
    width: 25%;
    position: relative;
    left: 40%; }
  .navbar--shop,
  .navbar--about,
  .navbar--more,
  .navbar--contact {
    display: none; }
  .navbar__burger,
  .navbar__cart {
    display: flex;
    justify-items: center; }
  .navbar div ul li a {
    list-style: none;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: #be99d4;
    font-size: 1.45rem; }
  .titles {
    grid-area: titles;
    margin: 0%;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    font-size: 2.7rem; }
  .texts {
    grid-area: texts;
    margin: 10% 0%;
    color: #eee0e3;
    font-family: "Ubuntu";
    font-size: 1.45rem; }
  .footer {
    display: grid;
    grid-template-areas: "redes     redes" "redesdata redesdata" "teldata   maildata" "copyright copyright";
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: rgba(253, 247, 247, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .footer__element--title {
    font-size: 1.45rem;
    font-family: "Ubuntu"; }
  .footer__element--titleespecial {
    font-size: 1.45rem;
    font-family: "Ubuntu";
    align-items: start; }
  a.footer__element--text {
    text-decoration: none;
    font-size: 1.45rem;
    font-family: "Ubuntu"; }
  .medialinks a {
    display: flex; }
  .iconsmedia svg {
    display: inline-flex;
    width: 80px;
    height: 80px; }
  .redes {
    grid-area: redes; }
  .redesdata {
    grid-area: redesdata; }
  .mail {
    grid-area: mail; }
  .maildata {
    position: relative;
    right: 10%;
    grid-area: maildata; }
  .tel {
    grid-area: tel; }
  .teldata {
    grid-area: teldata; }
  .copyright {
    grid-area: copyright; } }

@media (min-width: 1024px) {
  .body--contact {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 3%;
    grid-template-rows: 15% 70% 20%; }
  .section__form {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.363);
    border-radius: 10px; }
  .textarea {
    resize: vertical;
    width: 100%;
    max-height: 150px;
    min-height: 90px; }
  .btn--send {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .input--contact {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(49, 49, 49, 0.9); }
  .main__text {
    margin: 0% 20% 30% 20%; }
  .titles {
    grid-area: titles;
    font-family: "Ubuntu";
    color: rgba(253, 247, 247, 0.9);
    margin: 10% 0%;
    font-size: 4rem;
    margin: 0%; }
  .texts {
    grid-area: texts;
    font-family: "Ubuntu";
    color: #eee0e3;
    margin: 10% 0%;
    font-size: 2rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .body--contact {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 3%;
    grid-template-rows: 15% 65% 23%; }
  .section__form {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.363);
    border-radius: 10px; }
  .btn--send {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .input--contact {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(49, 49, 49, 0.9); }
  .textarea {
    resize: vertical;
    width: 100%;
    max-height: 150px;
    min-height: 90px; }
  .titles {
    grid-area: titles;
    font-family: "Ubuntu";
    color: rgba(253, 247, 247, 0.9);
    margin: 10% 0%;
    font-size: 3.6rem !important;
    margin: 0%; }
  .texts {
    grid-area: texts;
    font-family: "Ubuntu";
    color: #eee0e3;
    margin: 10% 0%;
    font-size: !important; } }

@media (max-width: 767px) {
  .body--contact {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 2%;
    grid-template-rows: 20% 83% 35%; }
  .section__form {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.363);
    border-radius: 10px; }
  .textarea {
    resize: vertical;
    width: 100%;
    max-height: 150px;
    min-height: 90px; }
  .btn--send {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .input--contact {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(49, 49, 49, 0.9); } }

@media (min-width: 1024px) {
  .body--index {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 0%;
    grid-template-rows: 7% 90% 8%; }
  .main__img--banner {
    position: block;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px; }
  .main__img--bannerphone {
    display: none !important; }
  .main--index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 24% 23% 52%;
    gap: 1%; }
  .title--section {
    font-size: 4rem;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__minishop {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section--minishop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap; }
  .minishop__container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .minishop__container .card {
      position: relative;
      width: 300px;
      height: 400px;
      padding-top: 5%;
      margin: 100px 100px 80px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.25);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-left: 1px solid rgba(255, 255, 255, 0.25); }
      .minishop__container .card:hover .imgBx img {
        transform: translate(0px, -30px); }
      .minishop__container .card:hover .minishop--subtitles {
        transform: translate(0px, -15px);
        color: rgba(253, 247, 247, 0.9); }
      .minishop__container .card .imgBx {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .minishop__container .card .imgBx img {
          max-width: 100%;
          position: relative;
          transition: 0.5s ease-in-out; }
  .minishop__container .card a {
    position: relative;
    top: -20px;
    display: inline-block;
    padding: 3% 6%;
    background-color: rgba(65, 65, 65, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(253, 247, 247, 0.9);
    font-size: 2rem;
    font-family: "Lobster", cursive;
    transition: all 150ms ease-out; }
    .minishop__container .card a:hover {
      background-color: rgba(253, 247, 247, 0.9);
      color: #be99d4;
      letter-spacing: 0.5rem; }
  .section--minishop .minishop--imgleft,
  .minishop--imgright {
    width: 50%;
    border-radius: 5%; }
  .minishop--subtitles {
    transition: 0.5s ease-in-out;
    font-family: "Lobster", cursive;
    color: rgba(0, 0, 0, 0);
    font-size: 1.7rem; }
  .titles {
    grid-area: titles;
    margin: 10% 0%;
    margin: 0%;
    justify-content: center;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    font-size: 4rem; }
  .texts {
    grid-area: texts;
    font-family: "Ubuntu", sans-serif;
    color: #eee0e3;
    margin: 10% 0%;
    font-size: 2rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .body--index {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 1%;
    grid-template-rows: 3% 95% 5.5%; }
  .main__img--banner {
    position: block;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px; }
  .main__img--bannerphone {
    display: none !important; }
  .main--index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 11% 13% 33%;
    gap: 1%; }
  .main__text--index {
    padding: 4%;
    text-align: center !important; }
  .title--section {
    font-size: 3.6rem;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__minishop {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section--minishop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap; }
  .minishop__container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .minishop__container .card {
      position: relative;
      width: 300px;
      height: 400px;
      padding-top: 5%;
      margin: 100px 100px 80px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.25);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-left: 1px solid rgba(255, 255, 255, 0.25); }
      .minishop__container .card:hover .imgBx img {
        transform: translate(0px, -30px); }
      .minishop__container .card:hover .minishop--subtitles {
        transform: translate(0px, -15px);
        color: rgba(253, 247, 247, 0.9); }
      .minishop__container .card .imgBx {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .minishop__container .card .imgBx img {
          max-width: 100%;
          position: relative;
          transition: 0.5s ease-in-out; }
  .minishop__container .card a {
    position: relative;
    top: -20px;
    display: inline-block;
    padding: 3% 6%;
    background-color: rgba(65, 65, 65, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.55rem;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    transition: all 150ms ease-out; }
    .minishop__container .card a:hover {
      background-color: rgba(253, 247, 247, 0.9);
      color: #be99d4;
      letter-spacing: 0.5rem; }
  .section--minishop .minishop--imgleft,
  .minishop--imgright {
    width: 50%;
    border-radius: 5%; }
  .minishop--subtitles {
    transition: 0.5s ease-in-out;
    color: rgba(0, 0, 0, 0);
    font-family: "Lobster", cursive;
    font-size: 1.55rem; }
  .titles {
    grid-area: titles;
    margin: 10% 0%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    font-size: 3.6rem; }
  .texts {
    grid-area: texts;
    font-family: "Ubuntu";
    color: #eee0e3;
    margin: 10% 0%;
    font-size: 1.55rem; } }

@media (max-width: 767px) {
  .body--index {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: 7% 105% 10%; }
  .main__img--banner {
    display: none !important; }
  .main__img--bannerphone {
    display: block;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px; }
  .main--index {
    display: grid;
    grid-template-rows: 17% 20% 38%;
    row-gap: 3%; }
  .main__text--index {
    padding: 4%;
    text-align: center !important; }
  .title--section {
    font-size: 2.7rem;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    display: flex;
    justify-content: center;
    text-align: center;
    height: min-content;
    margin: 0%; }
  .titles {
    grid-area: titles;
    font-family: "Lobster", cursive;
    margin: 0%;
    color: rgba(253, 247, 247, 0.9);
    font-size: 2.7rem; }
  .texts {
    grid-area: texts;
    margin: 10% 0%;
    color: #eee0e3;
    font-family: "Ubuntu", sans-serif "Ubuntu";
    font-size: 1.45rem; }
  .main__minishop {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section--minishop {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 1%; }
  .displayphone {
    display: none;
    visibility: hidden; }
  .minishop__container {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
    width: 100%;
    height: 100%; }
    .minishop__container .card {
      position: relative;
      width: 250px;
      height: 350px;
      padding-top: 5%;
      margin: 50px 10px 8px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.25);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-left: 1px solid rgba(255, 255, 255, 0.25); }
      .minishop__container .card:hover .imgBx img {
        transform: translate(0px, -30px); }
      .minishop__container .card:hover .minishop--subtitles {
        transform: translate(0px, -15px);
        color: rgba(253, 247, 247, 0.9); }
      .minishop__container .card .imgBx {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .minishop__container .card .imgBx img {
          max-width: 90%;
          position: relative;
          transition: 0.5s ease-in-out; }
  .minishop__container .card a {
    position: relative;
    top: -20px;
    display: inline-block;
    padding: 3% 6%;
    background-color: rgba(65, 65, 65, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    font-size: 1.45rem; }
  .section--minishop .minishop--imgleft,
  .minishop--imgright {
    width: 50%;
    border-radius: 5%; }
  .minishop--subtitles {
    transition: 0.5s ease-in-out;
    font-family: "Lobster", cursive;
    color: rgba(0, 0, 0, 0);
    font-size: 1.45rem; } }

@media (min-width: 1024px) {
  .body--shop {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 3%;
    grid-template-rows: 6.5% 90% 11%; }
  .main--shop {
    display: grid;
    grid-template-rows: 30.5% 7% 62%;
    grid-template-columns: 100%;
    row-gap: 1%; }
  .section--filters {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
  .btn--select {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .section--shop {
    background-color: rgba(238, 238, 238, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
    .section--shop article {
      display: inline;
      box-sizing: content-box; }
  .card__shop {
    box-sizing: content-box;
    overflow: hidden;
    width: 100%; }
    .card__shop .card__product {
      width: 100%;
      border-radius: 5px; }
  .main__img--banner {
    overflow: hidden;
    top: 0%;
    z-index: -1;
    width: 100%; }
  .titles {
    grid-area: titles;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    margin: 10% 0%;
    font-size: 4rem;
    margin: 0%; }
  .texts {
    grid-area: texts;
    color: #eee0e3;
    font-family: "Ubuntu";
    font-size: 2rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .body--shop {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 3%;
    grid-template-rows: 6.5% 90% 13%; }
  .main--shop {
    display: grid;
    grid-template-rows: 27.5% 8% 60%;
    grid-template-columns: 100%;
    row-gap: 1%; }
  .section--filters {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
  .btn--select {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .section--shop {
    background-color: rgba(238, 238, 238, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
    .section--shop article {
      display: inline;
      box-sizing: content-box; }
  .card__shop {
    box-sizing: content-box;
    overflow: visible;
    width: 110%; }
    .card__shop .card__product {
      width: 100%;
      border-radius: 5px; }
  .displaytablet {
    display: none !important; }
  .titles {
    grid-area: titles;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    margin: 10% 0%;
    font-size: 4rem 3.6rem;
    margin: 0%; }
  .texts {
    grid-area: texts;
    color: #eee0e3;
    font-family: "Ubuntu";
    font-size: 2rem 1.55rem; } }

@media (max-width: 767px) {
  .body--shop {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 2.5%;
    grid-template-rows: 7% 95% 25%; }
  .main--shop {
    display: grid;
    grid-template-rows: 23% 10% 64%;
    grid-template-columns: 100%;
    row-gap: 1%; }
  .section--filters {
    background-color: rgba(26, 26, 26, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
  .btn--select {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5); }
  .section--shop {
    background-color: rgba(238, 238, 238, 0.295);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
    border-radius: 10px; }
  .card__shop {
    box-sizing: content-box;
    overflow: hidden;
    width: 100%; }
    .card__shop .card__product {
      width: 100%;
      border-radius: 5px; }
  .card__product {
    width: 50%; }
  .displaytablet {
    display: auto; }
  .displayphone {
    display: none; } }

@media (min-width: 1024px) {
  .body--about {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 0%;
    grid-template-rows: 7.5% 100% 8.5%; }
  .main__img--bannerphone {
    display: none !important; }
  .main__img--banner {
    display: block;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px; }
  .section__atajos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    text-decoration: none;
    list-style: none;
    height: 50px;
    font-size: 1.6rem; }
  .atajos {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 2%;
    background-color: aliceblue;
    color: map #be99d4; }
  .main--about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 24% 6% 66%;
    row-gap: 1%; }
  .section--backgroundcolor {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px; }
  .section--1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img  titlestexts" "img  titlestexts";
    gap: 0%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.05); }
  .section--2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "titlestexts  img" "titlestexts  img";
    gap: 0%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px; }
  .section--3 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "titles" "texts";
    gap: 0%;
    text-align: center; }
  .section--img {
    grid-area: img;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 100%; }
  .titles {
    display: grid;
    grid-area: titles;
    padding: 3%;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    font-size: 4rem; }
  .texts {
    display: grid;
    padding: 3%;
    grid-area: texts;
    color: #eee0e3;
    font-size: 2rem;
    font-family: "Ubuntu"; }
  .titlestexts {
    grid-area: titlestexts; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .body--about {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 2.25%;
    grid-template-rows: 5% 95% 10%; }
  .main--about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 6% 66%;
    row-gap: 1%; }
  .section__atajos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    text-decoration: none;
    list-style: none;
    height: 50px;
    font-size: 1.6rem; }
  .atajos {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(253, 247, 247, 0.9);
    color: #be99d4; }
  .titles {
    display: grid;
    grid-area: titles;
    padding: 3%;
    color: rgba(253, 247, 247, 0.9);
    font-family: "Lobster", cursive;
    font-size: 3.6rem; }
  .texts {
    display: grid;
    padding: 3%;
    grid-area: texts;
    color: #eee0e3;
    font-size: 1.55rem;
    font-family: "Ubuntu" !important; }
  .section--1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img  titlestexts" "img  titlestexts";
    gap: 0%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.05); }
  .section--2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "titlestexts  img" "titlestexts  img";
    gap: 0%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px; }
  .correction-2 {
    position: relative;
    right: 9%; }
  .section--3 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "titles" "texts";
    gap: 0%;
    text-align: center; }
  .section--img {
    grid-area: img;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 110%; } }

@media (max-width: 767px) {
  .body--about {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 2.5%;
    grid-template-rows: 5% 95% 11%; }
  .main--about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 19% 6% 80%;
    row-gap: 1%; }
  .main__img--banner {
    display: none !important; }
  .main__img--bannerphone {
    display: block;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px; }
  .section__atajos {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    font-size: 1.3rem;
    height: 50px;
    text-decoration: none;
    list-style: none;
    padding-bottom: 40%; }
  .main__text--about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%; }
  .titles {
    grid-area: titles;
    font-family: "Lobster", cursive;
    margin: 10% 0%;
    margin: 0%;
    color: rgba(253, 247, 247, 0.9);
    font-size: 2.7rem; }
  .texts {
    grid-area: texts;
    margin: 10% 0%;
    color: #eee0e3;
    font-family: "Ubuntu";
    font-size: 1.45rem; }
  .section--1, .section--2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "img" "titles" "texts";
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 5%; }
  .section--1 h3, p, .section--2 h3, p, .section--3 h3, p {
    text-align: center;
    width: 100%;
    font-size: 1.45rem; }
  .section--3 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "titles" "texts";
    gap: 0%;
    text-align: center;
    align-self: flex-end; }
  .section--img {
    grid-area: img;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 90%;
    position: relative;
    left: 20px; }
  .atajos {
    background-color: aliceblue;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 2%;
    color: #be99d4; } }

@media (min-width: 1024px) {
  .body--more {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 0%;
    grid-template-rows: 20% 70% 30%; }
  .main--more {
    display: flex;
    align-items: center;
    justify-content: center; }
  .container__flag {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    row-gap: 2%; }
  .container__flag a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10% 250%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  .flags {
    width: 100%; }
  .flags h1 {
    flex-wrap: nowrap;
    border-radius: 20px;
    font-family: "Lobster", cursive;
    font-size: 4rem; }
  .titles {
    grid-area: titles;
    margin: 10% 0%;
    margin: 0%;
    font-family: "Lobster", cursive;
    font-size: 4rem;
    color: rgba(253, 247, 247, 0.9); }
  .texts {
    grid-area: texts;
    margin: 10% 0%;
    color: #eee0e3;
    font-family: "Ubuntu", sans-serif "Ubuntu";
    font-size: 2rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .body--more {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 0%;
    grid-template-rows: 17% 70% 25%; }
  .container__flag {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    row-gap: 2%; }
  .container__flag a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 6% 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  .flags {
    width: 100%; }
  .flags h1 {
    flex-wrap: nowrap;
    border-radius: 20px;
    font-family: "Lobster", cursive;
    font-size: 4rem; }
  .titles {
    grid-area: titles;
    margin: 0%;
    font-family: "Lobster", cursive;
    color: rgba(253, 247, 247, 0.9);
    font-size: 3.6rem; }
  .texts {
    grid-area: texts;
    margin: 10% 0%;
    color: #eee0e3;
    font-family: "Ubuntu";
    font-size: 2rem 1.55rem; } }

@media (max-width: 767px) {
  .body--more {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 9%;
    grid-template-rows: 25% 75% 65%; }
  .main--more {
    display: flex;
    align-items: center;
    justify-content: center; }
  .container__flag {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 2%;
    justify-items: center; }
  .container__flag a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10% 100%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  .flags {
    width: 100%; }
  .flags h1 {
    flex-wrap: nowrap;
    border-radius: 20px;
    font-family: "Lobster", cursive;
    font-size: 4rem 2.7rem; } }
