$style-desktop: (
    titlesize: 4rem,
    subtitlesize: 1.7rem,
    textsize: 2rem,
);
$style-phone:(
    titlesize-p: 2.5rem,
    subtitlesize-p: 1.5rem,
    textsize-p: 1.5rem
);

$title__font: 'Lobster', cursive;
$titlesize__font: 4rem;
$titlesize__font--phone: 2.5rem;

$subtitle__font: 'Lobster', cursive;
$subtitlesize__font: 1.7rem;
$subtitlesize__font--phone: 1.5rem;

$text__font:'Ubuntu', sans-serif;
$textsize__font: 2rem;
$textsize__font--phone: 1.5rem;

$specialsize__font: 1.6rem;
$specialsize__font--phone: 1.3rem;

