@import "colors";
@import "typography";
@import "structure";
@import "pages/more";
@import "pages/contact";
@import "pages/shop";
@import "pages/home";
@import "pages/about";


.section--minishop .minishop--imgleft , .minishop--imgright {
    width: 50%;
    border-radius: 5%;
}
.main__text--index {
    text-align: center;
    margin: 0% 0% 10% 0%;
    padding: 4%;
}