.body--about {
    @extend .bodys;
}
@media (min-width:1024px) {
    .body--about {
        @include grid-column-gap--0;
        grid-template-rows: 7.5% 100% 10%;
    }
    .main__img--bannerphone {
        display: none !important
    }

    .main__img--banner {
        display: block;
        width: 100%;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
    }

    .section__atajos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        text-decoration: none;
        list-style: none;
        height: 50px;
        font-size: $specialsize__font;
    }
    .atajos {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
        border-radius: 5px;
        padding: 2%;
        background-color: aliceblue;
        color: var(--lila);
    }

    .main--about {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 24% 6% 66%;
        row-gap: 1%;
    }
    .section--backgroundcolor{
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;

    }
    .section--1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "img  titlestexts"
            "img  titlestexts";
        gap: 0%;
        margin-bottom: 5%;
        background-color: rgba(0, 0, 0, 0.05);

    }

    .section--2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "titlestexts  img"
            "titlestexts  img";
        gap: 0%;
        margin-top: 5%;

        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;

    }

    .section--3 {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "titles"
            "texts";
        gap: 0%;
        text-align: center;
    }
    .section--img {
        grid-area: img;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
        width: 100%;
    }

    .titles {
        display: grid;
        grid-area: titles;
        padding: 3%;
        color: var(--blancoespecial);
        font-family: $title__font;
        font-size: $titlesize__font;
    }

    .texts {
        display: grid;
        padding: 3%;
        grid-area: texts;
        color: #eee0e3;
        font-size: $textsize__font;
        font-family: $text__font;
    }
    .titlestexts {
        grid-area: titlestexts;
    }

    .footer {
        display: grid;
        grid-template-areas:
        "redes     redes     redes"
        "redesdata teldata   maildata"
        "copyright copyright copyright";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25%;
        background-color: rgba(253, 247, 247, 0.76);
        justify-items: center;
        align-items: center;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        position: static;
        bottom: 0%;
    }

    .footer__element--title {
        font-size: $textsize__font;
        font-family: $text__font;
    }

    .footer__element--titleespecial {
        font-size: $textsize__font;
        font-family:$text__font ;
        align-items: start;
    }

    .footer__element--text {
        font-size: $textsize__font;
        font-family: $text__font;
    }

    .medialinks a {
        display: flex;
    }

    .iconsmedia svg {
        display: inline-flex;
        width: 100px;
        height: 100px;
    }

    .redes {
        grid-area: redes;
    }

    .redesdata {
        grid-area: redesdata;
    }

    .mail {
        grid-area: mail;
    }

    .maildata {
        grid-area: maildata;
    }

    .tel {
        grid-area: tel;
    }

    .teldata {
        grid-area: teldata;
    }

    .copyright {
        grid-area: copyright
    }
}
@media (max-width: 767px) {
    .body--about {
        grid-template-rows: 7.5% 96% 19%;
    }

    .main--about {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 22% 6% 80%;
        row-gap: 1%;
    }

    .main__img--banner {
        display: none !important
    }

    .main__img--bannerphone {
        display: block;
        width: 100%;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
    }
    .section__atajos {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        position: relative;
        font-size: $specialsize__font--phone;
        height: 50px;
        text-decoration: none;
        list-style: none;
        padding-bottom: 40%;
    }

    .main__text--about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }

    .titles {
        grid-area: titles;
        font-family: $title__font;
        color: var(--blancoespecial);
        margin: 10% 0%;
        font-size: $titlesize__font--phone;
        margin: 0%;


    }

    .texts {
        grid-area: texts;
        font-family: $text__font;
        color: #eee0e3;
        margin: 10% 0%;
        font-size: $textsize__font--phone;
    }

    .section--1, .section--2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1.5fr 1fr;
        grid-template-areas:
            "img"
            "titles"
            "texts";
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .section--1 h3, p, .section--2 h3, p, .section--3 h3, p {
        text-align: center;
        font-size: $textsize__font--phone;
        width: 100%;
    }

    .section--3 {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "titles"
            "texts";
        gap: 0%;
        text-align: center;
        align-self: flex-end;
    }

    .section--img {
        grid-area: img;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
        width: 90%;
        position: relative;
        left: 20px;
    }

    .atajos {
        color: var(--lila);
        background-color: aliceblue;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
        border-radius: 5px;
        padding: 2%;
    }
    
    .footer {
        display: grid;
        grid-template-areas:
            "redes redes"
            "redesdata redesdata"
            "teldata maildata"
            "copyright copyright";
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        background-color: rgba(253, 247, 247, 0.76);
        height: 50%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.575);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);

    }

    .footer__element--title {
        display: flex;
        margin: 0%;
        justify-items: flex-start;
        align-items: center;
        color: var(--lila);
        font-size: $titlesize__font--phone;
        font-family: $text__font;
    }

    .footer__element--titleespecial {
        align-items: center;
        text-align: center;
        color: var(--lila);
        font-size: $specialsize__font;
        font-family: $text__font;
    }

    .medialinks a {
        display: flex;

    }

    .iconsmedia svg {
        display: inline-flex;
        width: 70px;
        height: 70px;
    }

    .redesdata {
        display: flex;
        justify-content: space-between;
    }

    .footer__element--text {
        font-size: $textsize__font--phone;
        font-family: $text__font;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .redes {
        grid-area: redes;
    }

    .redesdata {
        grid-area: redesdata;
    }

    .mail {
        grid-area: mail;
    }

    .maildata {
        grid-area: maildata;
    }

    .tel {
        grid-area: tel;
    }

    .teldata {
        grid-area: teldata;
    }

    .copyright {
        grid-area: copyright
    }
}
