.body--more {
    @extend .bodys;
}
@media (min-width:1024px) {
    .body--more {
        @include grid-column-gap--0;
        grid-template-rows: 20% 70% 30%;
    }
    .main--more {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container__flag {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        justify-items: center;
        row-gap: 2%;
    }

    .container__flag a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 10% 250%;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.25);

    }
    .flags{
        width: 100%;
    }
    .flags h1 {
        flex-wrap: nowrap;
        border-radius: 20px;
        font-family: $title__font;
        font-size: map-get($style-desktop, titlesize );
    }
    .titles {
        grid-area: titles;
        margin: 10% 0%;
        margin: 0%;
        font-family: $title__font;
        font-size: map-get($style-desktop,titlesize );
        color: map-get($colors, blancoespecial );
    }

    .texts {
        grid-area: texts;
        margin: 10% 0%;
        color: #eee0e3;
        font-family: $text__font map-get($style-desktop , text__font);
        font-size:  map-get($style-desktop , textsize );
    }

}
@media (min-width:768px) and (max-width:1023px){
    .body--more {
        @include grid-column-gap--0;
        grid-template-rows: 17% 70% 25%;
    }
    .container__flag {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        justify-items: center;
        row-gap: 2%;
    }
    
    .container__flag a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 6% 50%;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.25);

    }
    .flags{
        width: 100%;
    }
    .flags h1 {
        flex-wrap: nowrap;
        border-radius: 20px;
        font-family: $title__font;
        font-size: $titlesize__font map-get($style-tablet, title-t);
    }
    .titles {
        grid-area: titles;
        margin: 0%;
        font-family: $title__font;
        color: map-get($colors, blancoespecial );
        font-size: map-get($style-tablet, titlesize-t );
    }

    .texts {
        grid-area: texts;
        margin: 10% 0%;
        color: #eee0e3;
        font-family: map-get($style-desktop,text__font );
        font-size: $textsize__font map-get($style-tablet,textsize-t );
    }

}
@media (max-width: 767px) {
    .body--more {
        @include grid-column-gap(9%);
        grid-template-rows: 25% 75% 65%;
    }
    
    .main--more {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container__flag {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        row-gap: 2%;
        justify-items: center;
    }

    .container__flag a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 10% 100%;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.25);

    }
    .flags{
        width: 100%;
    }
    .flags h1 {
        flex-wrap: nowrap;
        border-radius: 20px;
        font-family: $title__font;
        font-size: $titlesize__font map-get($style-phone, titlesize-p );
    }

}