.body--shop {
    @extend .bodys;
}
@media (min-width:1024px) {
    .body--shop {
        @include grid-column-gap(3%);
        grid-template-rows: 5% 90% 15%;
    }

    .section--filters{
        background-color: rgba(26, 26, 26, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .btn--select{
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        color:rgba(255, 255, 255, 0.5);
    }
    .section--shop{
        background-color: rgba(238, 238, 238, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        article {
            display: inline;
            box-sizing: content-box;
        }
    }

    .card__shop{
        box-sizing: content-box;
        overflow: hidden;
        width: 100%;
        .card__product {
            width: 100%;
            border-radius: 5px;
        }
    }
    .main__img--banner {
        overflow: hidden;
        top: 0%;
        z-index: -1;
        width: 100%;
    }

    .titles {
        grid-area: titles;
        font-family: $title__font;
        color: var(--blancoespecial);
        margin: 10% 0%;
        font-size: $titlesize__font;
        margin: 0%;


    }

    .texts {
        grid-area: texts;
        color: #eee0e3;
        font-family: $text__font;
        font-size: $textsize__font;
    }

    .footer {
        display: grid;
        grid-template-areas:
            "redes     redes     redes"
            "redesdata teldata   maildata"
            "copyright copyright copyright";
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 25% 25% 25%;
        background-color: rgba(253, 247, 247, 0.76);
        justify-items: center;
        align-items: center;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    .footer__element--title,
    .footer__element--titleespecial {
        font-size: $subtitlesize__font;
        font-family: $subtitle__font;
    }

    .footer__element--titleespecial {
        align-items: start;
    }

    .footer__element--text {
        font-size: $textsize__font;
        font-family: $text__font;
    }

    .medialinks a {
        display: flex;
    }

    .iconsmedia svg {
        display: inline-flex;
        width: 100px;
        height: 100px;
    }

    .redes {
        grid-area: redes;
    }

    .redesdata {
        grid-area: redesdata;
    }

    .mail {
        grid-area: mail;
    }

    .maildata {
        grid-area: maildata;
    }

    .tel {
        grid-area: tel;
    }

    .teldata {
        grid-area: teldata;
    }

    .copyright {
        grid-area: copyright
    }

}
@media (max-width: 767px) {
    .body--shop {
        @include grid-column-gap--0;
        grid-template-rows: 7% 95% 23%;
    }

    .section--filters{
        background-color: rgba(26, 26, 26, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    
    .section--shop{
        background-color: rgba(238, 238, 238, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .card__shop{
        box-sizing: content-box;
        overflow: hidden;
        width: 100%;
        .card__product {
            width: 100%;
            border-radius: 5px;
        }
    }
    .card__product{
        width: 50%;
    }
    .displayphone{
        display: none;
    }
    
}