.body--shop {
    @extend .bodys;
}
@media (min-width:1024px) {
    .body--shop {
        @include grid-column-gap(3%);
        grid-template-rows: 6.5% 90% 11%;
    }
    .main--shop {
        display: grid;
        grid-template-rows: 30.5% 7% 62%;
        grid-template-columns: 100%;
        row-gap: 1%;
    }

    .section--filters{
        background-color: rgba(26, 26, 26, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .btn--select{
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        color:rgba(255, 255, 255, 0.5);
    }
    .section--shop{
        background-color: rgba(238, 238, 238, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        article {
            display: inline;
            box-sizing: content-box;
        }
    }

    .card__shop{
        box-sizing: content-box;
        overflow: hidden;
        width: 100%;
        .card__product {
            width: 100%;
            border-radius: 5px;
        }
    }
    .main__img--banner {
        overflow: hidden;
        top: 0%;
        z-index: -1;
        width: 100%;
    }

    .titles {
        grid-area: titles;
        font-family: $title__font;
        color: map-get($colors,blancoespecial);
        margin: 10% 0%;
        font-size: map-get($style-desktop, titlesize);
        margin: 0%;
    }

    .texts {
        grid-area: texts;
        color: #eee0e3;
        font-family: map-get($style-desktop , text__font );
        font-size: map-get($style-desktop, textsize );
    }

}
@media (min-width:768px) and (max-width:1023px){
    .body--shop {
        @include grid-column-gap(3%);
        grid-template-rows: 6.5% 90% 13%;
    }
    .main--shop {
        display: grid;
        grid-template-rows: 27.5% 8% 60%;
        grid-template-columns: 100%;
        row-gap: 1%;
    }

    .section--filters{
        background-color: rgba(26, 26, 26, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .btn--select{
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        color:rgba(255, 255, 255, 0.5);
    }
    .section--shop{
        background-color: rgba(238, 238, 238, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        article {
            display: inline;
            box-sizing: content-box;
        }
    }
    .card__shop{
        box-sizing: content-box;
        overflow: visible;
        width: 110%;
        .card__product {
            width: 100%;
            border-radius: 5px;
        }
    }
    .displaytablet{
        display: none !important;
    }

    .titles {
        grid-area: titles;
        font-family: $title__font;
        color: map-get($colors,blancoespecial);
        margin: 10% 0%;
        font-size: $titlesize__font map-get($style-tablet, titlesize-t );
        margin: 0%;
    }

    .texts {
        grid-area: texts;
        color: #eee0e3;
        font-family: map-get($style-desktop, text__font );
        font-size: $textsize__font map-get($style-tablet , textsize-t );
    }
}
@media (max-width: 767px) {
    .body--shop {
        @include grid-column-gap(2.5%);
        grid-template-rows: 7% 95% 25%;
    }
    .main--shop {
        display: grid;
        grid-template-rows: 23% 10% 64%;
        grid-template-columns: 100%;
        row-gap: 1%;
    }

    .section--filters{
        background-color: rgba(26, 26, 26, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .btn--select{
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
        color:rgba(255, 255, 255, 0.5);
    }
    .section--shop{
        background-color: rgba(238, 238, 238, 0.295);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.288);
        border-radius: 10px;
    }
    .card__shop{
        box-sizing: content-box;
        overflow: hidden;
        width: 100%;
        .card__product {
            width: 100%;
            border-radius: 5px;
        }
    }
    .card__product{
        width: 50%;
    }
    .displaytablet{
        display: auto;
    }
    .displayphone{
        display: none;
    }
    
}